[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgb(44, 159, 228);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}
.panel {
    margin-bottom: 20px;
    background-color: #0d9cf3;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.22);
    text-align: center;
    font-size: medium;
}
.col-sm-2{
	margin-right: 10px;
}
@font-face {
      font-family: "Comic sans Bold";
      src: url("../fonts/comicsans.ttf");
}
body { 
    font-family: "Comic sans Bold" 
}
.container{
    padding-top: 34px;
    background: white;
    overflow-y: auto;
    opacity: 0.9;
}